<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mestrado FCUP</title>
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/materia/bootstrap.min.css">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- popper -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>

  <!-- bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

  <!-- autotables -->
  <script src="{{url_for('static', filename='auto-tables.js')}}"></script>

  <style>
    body {
      background-color: #fafafa;
    }

    .container {
      margin: 50px auto;
    }

    thead th {
      cursor: pointer;
    }
    .button {
        background-color: #dee2e6; 
        border: none;
        color: #444;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>

</head>

<body>
  <div class="container">

    <h1 class="text-center mt-5 mb-5">Candidaturas a mestrados FCUP e FEUP</h1>
    <p class="lead text-center">Selecione o Mestrado.</p> 
    <p class="lead text-center">

       Pode também procurar o nome de um candidato em particular e saber onde ele se candidatou e onde ficou colocado.</p> 
      
        <form class="form-inline" method="POST" style="margin-bottom: 50px;justify-content: center;" >
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" style="align-self: center;margin-right: 20px;">Please select</span>
                    <select name="comp_select" class="selectpicker form-control">
                      {% for o in data %}
                      <option value="{{ o }}">{{ o }}</option>
                      {% endfor %}
                    </select>
            </div>
            <button type="submit" class="button" style="margin-left: 20px;">Go</button>
          </div>
        </form>

        <form class="form-inline" method="POST" style="margin-bottom: 50px;justify-content: center;" >
          <span class="input-group-addon" style="align-self: center;margin-right: 20px;">Enter name</span>
          <input type="text" id="inputUsername"></input>
    
          <button type="button" class="button" style="margin-left: 20px;">Go</button>
        </form>
        
        <div id="place_for_suggestions" class="table tablesearch-table table-bordered table-striped"></div>

        <div class="table-responsive">

          <table id="data-table" class="table tablesearch-table table-bordered table-striped">
            <thead><tr>
              {% for i in header1 %}
                <th>{{i}}</th>  
                {% endfor %}
            </tr></thead>
        <tbody>
            
              {% for i in data1 %}
              <tr>
                {% for j in i %}
                <td>{{j}}</td>  
                {% endfor %}
              </tr>
              {% endfor %}
        </tbody>

          </table>
        </div>
        <!-- <table id="data-table" class="table tablesearch-table table-bordered table-striped">
          <tr>
          {% for i in header1 %}
            <th>{{i}}</th>  
            {% endfor %}
          </tr>
          {% for i in data1 %}
          <tr>
            {% for j in i %}
            <td>{{j}}</td>  
            {% endfor %}
          </tr>
          {% endfor %}
        
      </table> -->

     <img class="center" src={{url}} alt={{url}} style="max-width: 100%;"/>

    </div>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script>
    $(function(){
	    $('button').click(function(){
        var text = $(this).val();
        var user = $('#inputUsername').val();
        $.ajax({
          url: "/suggestions",
          type: "get",
          data: {jsdata: user},
          success: function(response) {
            $("#place_for_suggestions").html(response);
          },
          error: function(xhr) {
            //Do Something to handle error
          }
        });
      });
    });
    </script>
   <script>

    $(document).ready(function() {

      var headers = $('#data-table thead th');

      $(headers[5]).attr('data-tablesort-type', 'date');


      $('table').not(".tablesort").addClass('tablesort');
      // $('')

    });


  </script>
</body>

</html>